/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --primary-text-color: #0c1014;
  --secondary-text-color: #0848c0;
  --third-text-color: #6a6e72;
  --btn-background: #e5266e;
  --btn-color: #ffffff;
  --bg-color: #0000006b;
  --bg-modal: #ffffff;
  --transition: all 250ms linear;
  --font-family: "PT Sans", sans-serif;
  --gradient: #dcc498;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

body {
  color: var(--primary-text-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 100vw;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: var(--btn-background);
  color: var(--btn-color);
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.125;

  -webkit-transition: var(--transition);

  -o-transition: var(--transition);

  transition: var(--transition);
}
.btn:hover,
.btn:focus {
  background-color: #c5185b;
}
.backdrop.is-hidden {
  display: none;
}
.backdrop {
  display: block;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  padding: 101px 0;
}

.modal {
  min-width: 280px;
  width: 90%;
  max-width: 754px;
  padding: 4.14vw 7.66vw;
  border-radius: 12px;
  background-color: var(--bg-modal);
  margin: 0 auto;
}

.title {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 800;
  line-height: 1.21;

  margin-bottom: 25px;
}
.form {
  width: 100%;
}

.form-group {
  width: 100%;
  position: relative;
}
.accent {
  margin-right: 3px;
  color: red;
}
.form-group--photo {
  width: 175px;
  height: 175px;
  margin: 0 auto 32px;
}
.form-group__input-photo {
  width: 163px;
  height: 163px;
  background-image: url("../images/photo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  z-index: 10;
  margin-left: 6px;
}
.additional-text {
  font-size: 18.67px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
  color: #ffffff;
  position: absolute;
  top: 78px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.additional-text::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/photo-label.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  top: -37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 11;
}
.form__label-photo {
  color: var(--third-text-color);
  font-size: 13px;
  font-weight: 700;
  line-height: 1.71;
  display: block;
  margin-bottom: 13px;
  text-align: center;
}
#organization-photo {
  opacity: 0;
  width: 100%;
  height: 100%;
}
.remove-photo {
  cursor: pointer;
  background-color: var(--bg-modal);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  position: absolute;
  top: 13px;
  right: 3px;
  z-index: 20;
}
.remove-photo img {
  width: 16px;
  height: 16px;
}
.form-group::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 19px;
  right: 16px;
  z-index: 9;
}
.form-group--web-site::after {
  background-image: url("../images/site.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.form-group--vk::after {
  width: 19px;
  height: 19px;
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  top: 18px;
}
.form-group--ok::after {
  background-image: url("../images/ok.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.form-group--facebook::after {
  width: 22px;
  height: 22px;
  top: 17px;
  background-image: url("../images/facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.form-group--insta::after {
  background-image: url("../images/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.form-group--youtube::after {
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.form-group--check::after {
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.form__label {
  position: absolute;
  top: 8px;
  left: 16px;
  color: var(--third-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.form__input {
  width: 100%;
  height: 56px;
  border: 1px solid #d6dade;
  padding: 22px 16px 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group--padding .form__input {
  padding: 16px;
}
.form-group:not(:last-of-type) {
  margin-bottom: 32px;
}
.form .form-group:last-of-type {
  margin-bottom: 50px;
}
.form .form__top .form-group:last-of-type {
  margin-bottom: 32px;
}
#organization-field {
  appearance: none; /* Убираем стандартную стрелку */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__btn {
  cursor: pointer;
  width: 100%;
  max-width: 557px;
  height: 48px;
  border: none;
  background-color: var(--btn-background);
  color: var(--bg-modal);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 15px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.form__btn:hover,
.form__btn:focus {
  background-color: #c5185b;
}

.btn-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--secondary-text-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  height: 24px;
  width: 75px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 754px;
    padding: 53px 98px;
    margin-bottom: 300px;
  }
  .title {
    font-size: 28px;
    margin-bottom: 35px;
  }
  .form__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__top div .form-group {
    width: 364px;
    margin-right: 24px;
  }
  .backdrop {
    padding-bottom: 300px;
  }
}