*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

body {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  padding: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  cursor: pointer;
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
th:hover {
  background-color: #ddd;
}
table {
  width: 100%;
  border-collapse: collapse;
  display: block;
}
table.loading {
	display: none;
}
thead tr{
	width: 100%;
}
#searchInput {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
}
